<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tutoriel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <swiper-container pagination="true">
    <swiper-slide>
      <ion-card color="tertiary">
        <ion-card-header>
          <ion-card-title>Bienvenue sur <br> Le Petit Prince !</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Voici notre nouvelle application pour l'école maternelle le Petit Prince. <br>
            Vous y trouverez toutes les informations utiles pour les parents et les élèves.
          </p>
          <ion-card-title class="title2">
            Voici un petit tutoriel pour bien commencer
          </ion-card-title>
          <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card color="tertiary">
        <ion-card-header>
          <ion-card-title>Bienvenue sur <br> Le Petit Prince !</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Voici notre nouvelle application pour l'école maternelle le Petit Prince. <br>
            Vous y trouverez toutes les informations utiles pour les parents et les élèves.
          </p>
          <ion-card-title class="title2">
            Voici un petit tutoriel pour bien commencer
          </ion-card-title>
          <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card color="tertiary">
        <ion-card-header>
          <ion-card-title>Bienvenue sur <br> Le Petit Prince !</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Voici notre nouvelle application pour l'école maternelle le Petit Prince. <br>
            Vous y trouverez toutes les informations utiles pour les parents et les élèves.
          </p>
          <ion-card-title class="title2">
            Voici un petit tutoriel pour bien commencer
          </ion-card-title>
          <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
          <ion-button color="light" expand="block" (click)="finishTutorial()">Fermer le tutoriel</ion-button>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>
