swiper-container {
  width: 100%;
  height: 100%;
  --swiper-pagination-color: var(--ion-color-tertiary);
  --swiper-pagination-bullet-inactive-color: var(--ion-color-tertiary);
}

swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-card {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

ion-card-title {
    text-align: center;
}

ion-card-content {
    text-align: center;
}

.title2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.title3 {
    font-size: 23px;
}

p {
    margin-bottom: 1em;
}

ion-button {
    margin-top: 1em;
}
