<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Infos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Infos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Adresse</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      École le Petit Prince <br>
      1 rue des écoles <br>
      13000 Saint Exupéry
    </ion-card-content>
  </ion-card>
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Contact</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Télephone</ion-card-subtitle>
      0412345678 <br>
      <ion-card-subtitle class="mail">Mail</ion-card-subtitle>
      contact&#64;lepetitprince.fr
    </ion-card-content> 
  </ion-card>
  <div class="ion-text-center">
    <div>
      <ion-button fill="outline" color="tertiary" href="/login" size="small">Se déconnecter</ion-button>
    </div>
    <div>
      <ion-button fill="outline" color="tertiary" (click)="showTutorial()" size="small">Afficher le tutoriel</ion-button>
    </div>
  </div>

</ion-content>
