<ion-tabs *ngIf="showTabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="articles" href="/tabs/articles">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="galeries" href="/tabs/galeries">
      <ion-icon aria-hidden="true" name="images-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="dates" href="/tabs/dates">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="contact" href="/tabs/contact">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
